python_variable_annotations/__pycache__/1-concat.cpython-312.pyc
python_variable_annotations/1-main.py
python_variable_annotations/2-main.py
python_variable_annotations/3-main.py
python_variable_annotations/4-main.py
python_variable_annotations/5-main.py
python_variable_annotations/6-main.py
python_variable_annotations/7-main.py
python_variable_annotations/8-main.py
python_variable_annotations/9-main.py
python_variable_annotations/__pycache__/2-floor.cpython-312.pyc
python_variable_annotations/__pycache__/4-define_variables.cpython-312.pyc
python_variable_annotations/__pycache__/6-sum_mixed_list.cpython-312.pyc
python_variable_annotations/__pycache__/8-make_multiplier.cpython-312.pyc
python_variable_annotations/__pycache__/9-element_length.cpython-312.pyc
python_async_function/__pycache__/0-basic_async_syntax.cpython-312.pyc
python_async_function/__pycatask che__/1-concurrent_coroutines.cpython-312.pyc
python_async_function/1-main.py
python_async_function/2-main.py
python_async_function/3-main.py
python_async_function/4-main.py
python_async_function/__pycache__/2-measure_runtime.cpython-312.pyc
python_async_function/__pycache__/3-tasks.cpython-312.pyc
python_async_function/__pycache__/4-tasks.cpython-312.pyc
python_async_comprehension/__pycache__/0-async_generator.cpython-312.pyc
python_async_comprehension/1-main.py
python_async_comprehension/2-main.py
python_async_comprehension/0-main.py
python_async_comprehension/__pycache__/1-async_comprehension.cpython-312.pyc
python_async_comprehension/__pycache__/2-measure_runtime.cpython-312.pyc
python_async_comprehension/__pycache__/2-measure_runtime.cpython-312.pyc
caching/1-main.py
caching/0-main.py
caching/2-main.py
caching/3-main.py
caching/4-main.py
pagination/__pycache__/0-simple_helper_function.cpython-312.pyc
pagination/0-main.py
pagination/__pycache__/1-simple_pagination.cpython-312.pyc
pagination/__pycache__/2-hypermedia_pagination.cpython-312.pyc
pagination/2-main.py
pagination/__pycache__/3-hypermedia_del_pagination.cpython-312.pyc
pagination/3-main.py
personal_data/main.py
personal_data/__pycache__/filtered_logger.cpython-312.pyc
personal_data/main.sql
personal_data/__pycache__/encrypt_password.cpython-312.pyc
python_async_function/__pycache__/1-concurrent_coroutines.cpython-312.pyc
