python_variable_annotations/__pycache__/1-concat.cpython-312.pyc
python_variable_annotations/1-main.py
python_variable_annotations/2-main.py
python_variable_annotations/3-main.py
python_variable_annotations/4-main.py
python_variable_annotations/5-main.py
python_variable_annotations/6-main.py
python_variable_annotations/7-main.py
python_variable_annotations/8-main.py
python_variable_annotations/9-main.py
python_variable_annotations/__pycache__/2-floor.cpython-312.pyc
python_variable_annotations/__pycache__/4-define_variables.cpython-312.pyc
python_variable_annotations/__pycache__/6-sum_mixed_list.cpython-312.pyc
python_variable_annotations/__pycache__/8-make_multiplier.cpython-312.pyc
